{% extends 'app/base.html' %}
{% load static %}
{% block title %}chatting{% endblock title %}

{% block content %} 
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../static/css/chat.css">

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">       
        <div class="main-section w3-round w3-card">
            <div class="head-section">
                <div class="headLeft-section">
                    <div class="headLeft-sub">
                        <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>
                    </div>
                </div>
                <div class="headRight-section">
                    
                    <div class="headRight-sub">
                        <h3>{{room.this_profile.user}}</h3>
                    </div>
                </div>
            </div>
            <div class="body-section">
                
                <div class="left-section mCustomScrollbar" data-mcs-theme="minimal-dark">
                    
                    <ul>
                        {% for room in rooms %}
                            {% if this_profile == room.this_profile %}
                                <li>
                                    <a href="{{room.id}}">
                                    <div class="chatList">
                                        
                                        <div class="img">
                                            <img src="{{room.selected_profile.avatar.url}}">
                                        </div>
                                        <div class="desc">
                                            <small class="time">{% include 'app/components/latestMessageTime.html' %}</small>
                                            <h5>{{room.selected_profile.user}}</h5>
                                            <small>{{latest_message.value}}.</small>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                            {% elif this_profile == room.selected_profile %}
                            
                                <li>
                                    <a href="{{room.id}}">
                                    <div class="chatList">
                                        
                                        <div class="img">
                                            <img src="{{room.this_profile.avatar.url}}">
                                        </div>
                                        <div class="desc">
                                            <small class="time">{% include 'app/components/latestMessageTime.html' %}</small>
                                            <h5>{{room.this_profile.user}}</h5>
                                            <small>{{latest_message.value}}.</small>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="right-section">
                    <div class="message mCustomScrollbar" data-mcs-theme="minimal-dark">
                        <ul>
                            {% include 'app/components/message.html' %}
                        </ul>
                    </div>
                    <div class="right-section-bottom">
                        <form method="post" >
                            {% csrf_token %}
                            <div class="form-outline">
                                <input class="form-control-sm" type="text" name="message" placeholder="type here...">
                                <button type="submit" class="w3-button"><i class="fa fa-send"></i></button>
                            </div>
                        </form>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- custom scrollbar plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

{% endblock content %}   