{% load static %}
{% block content %}
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href ="{% static 'css/login.css' %}">
<link rel="shortcut icon" href="#" type="image/x-icon">

<title>Login Page</title>

<form enctype="multipart/form-data" class="login-box" action="/login/" method="post">
    <div class="title">
        <h1>LOGIN</h1>
    </div>
    {% csrf_token %}

    <div class="input-box">
        {{ form.username }}
        <label for="username">Username</label>
    </div>
    <div class="input-box">
        {{ form.password }}
        <label for="password">Password</label>
    </div>
    <label for="message" style="color: red;">{{messages}}</label>
    <button type="submit">Login To Snova</button>
    <div class="auth-action">
        <a href="/register/">Sign Up</a>


    </div>
</form>
<script src="assets/js/script.js"></script>

{% endblock content %}
