{% block content %} 

<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="../../static/css/login.css">
<link rel="shortcut icon" href="#" type="image/x-icon">
<title>Sign up Page</title>

<!--Register--> 
<form method="POST" class="login-box" autocomplete="on">       
    <div class="title">
        <h1>SIGN UP</h1>
    </div>
    {% csrf_token %}
	{{ form }}  
    <div class="input-box">
        <input type="text" name="" required class="input" id="username">
        <label for="username">Username</label>
    </div>
    <div class="input-box">
        <input type="password" name="" required class="input pass-input" id="password">
        <label for="password">Password</label>
    </div>
    <div class="input-box">
        <input type="password" name="" required class="input pass-input" id="confirmpassword">
        <label for="password">Confirm password</label>
    </div>
    <button type="submit">Create account</button>
    <div class="auth-action">
        <h5>Already have an account? <a href="/login/">Sign In</a></h5>
    </div>
</form>
<script src="assets/js/script.js"></script>

{% endblock %}