{% load static %}


{% block content %} 

<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href ="{% static 'css/login.css' %}">
<link rel="shortcut icon" href="#" type="image/x-icon">
<title>Sign up Page</title>

<!--Register--> 
<form method="POST" class="login-box" autocomplete="on">       
    <div class="title">
        <h1>SIGN UP</h1>
    </div>
    {% csrf_token %} 
    <div class="input-box">
        {{ form.username }}
        <label for="username">Username</label>
    </div>
    <div class="input-box">
        {{ form.email }}
        <label for="email">Email</label>
    </div>
    <div class="input-box">
        {{ form.password1 }}
        <label for="password">Password</label>
    </div>
    <div class="input-box">
        {{ form.password2 }}
        <label for="password">Confirm password</label>
    </div>
    <label for="message" style="color: red;">{{messages}}</label>
    <button type="submit">Create account</button>
    <div class="auth-action">
        <h5>Already have an account? <a href="/login/">Sign In</a></h5>
    </div>
</form>
<script src="assets/js/script.js"></script>

{% endblock %}