{% extends 'app/base.html' %}
{% block titlte %}search{% endblock titlte %}
{% block content %}
<div class ='d-flex justify-content-center flex-column'>
    {% for user in username_profile_list %}
        <div class ='bg-white mt-2 mx-auto d-flex align-items-center'>
            <div class="ml-5">
                <img src = "../../../{{user.avatar}}" alt="avatar" width='150px' height='150px'>
            </div>
            <div class="mx-5">
                
                <h5 class="mb-5"><a class ="text-dark" href="/user/{{user.id}}"><strong>u/{{user.user}}</strong></a></h5>
                <p>follower:
                    {% for key,value in follower_list.items %}
                        {% if key == user %}
                            {{value|length}}
                        {% endif %}
                    {% endfor %}
                </p>
                <p>following:
                    {% for key,value in following_list.items %}
                        {% if key == user %}
                            {{value|length}}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        <hr>
    {% endfor %}
    
</div>
{% endblock content %}


