{% extends 'app/base.html' %}
{% block title %}Profile Page{% endblock title %}
{% load static %}
{% block content %}
<h1>{{profile.avatar.url}}</h1>
<h3 name="user">
    {{profile.user}}
</h3>
    {% comment %} <img src = "{% static 'images{{profile.pic}}' %}" alt="avatar" width='240px' height='240px'> {% endcomment %}
    <img src = '{{profile.avatar.url}}' alt="avatar" width='240px' height='240px'>
    
    {% comment %} <img src = "../../../" alt="avatar" width='240px' height='240px'> {% endcomment %}
    {% comment %} <form action="/{user.id}" method="post">
        <button type="submit" name = 'follow-{{user.id}}'>follow</button>
    </form> {% endcomment %}
    <form action="./{{profile.id}}" method="post">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <h1>{{user}}</h1>
            {% if current_user_profile in following_list %}
                <button type="submit" name ='follow'>
                    unfollow</button>
                </button>
            {% else %}
                <button type="submit" name ='follow'>
                    follow
                </button>
            {% endif %}
        {% endif %}
        
    </form>
    <h4>following list:</h4>
    {% for f in follower_list %}
    <p><a href="/user/{{f.id}}" target="_blank">{{f.user}}</a></p>
    
    {% endfor %}
    
    <h4>follower list:</h4>
    {% for f in following_list %}
        <p><a href="/user/{{f.id}}" target="_blank">{{f.user}}</a></p>
    {% endfor %}
    <hr>
    {% for post in post_list %}
        {% if post.user_id == profile.user %}
        <h1>
            {{post.title}}
        </h1>
        <h3>
            {{post.content}}
        </h3>
        <hr>
        {% for comment in comment_list %}
            {% if comment.post_id == post %}
                <p>{{comment.user_id}}: {{comment.content}}</p>
            {% endif %}
        {% endfor %}

<link rel="stylesheet" href="../../static/css/profile.css">

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <h4 class="w3-center">My Profile</h4>
            <p class="w3-center"><img src="./../../{{user.avatar}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
            <h1 class="w3-center">{{user.name}}</p></h1>
            <hr>
            <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i>{{user.nickname}}</p>
            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{user.birthday}}</p>
            <div class="profile__stats w3-center">
              <div class="stat">
                <p class="stat__number">80K</p>
                <a href="#" class="stat__name">Followers</a>
              </div>
              <div class="stat">
                <p class="stat__number">83K</p>
                <a href="#" class="stat__name">Followings</a>
              </div>
            </div>
            <hr>
            <h4>Followers:</h4>
            {% for f in follower_list %}
            <p><a href="/user/{{f.id}}" target="_blank">{{f.name}}</a></p>
                
            {% endfor %}
            <h4>Followings:</h4>
            {% for f in following_list %}
            <p><a href="/user/{{f.id}}" target="_blank">{{f.name}}</a></p>
            {% endfor %}
          </div>
        </div>
        <br>
      
      <!-- End Left Column -->
      </div>
      
      <!-- Middle Column -->
      <div class="w3-col m7">
        
        {%for post in post_list  %}
        {% if post.user_id == user %}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>

            <div class="w3-col m1 w3-center w3-padding-bottom w3-margin-left w3-hide-small">
              <button type="button" name = 'upvote-{{post.id}}' class="w3-button w3-padding-small">
                <i style="color: red;" class="fa fa-arrow-up"></i>
              </button>         
              <div style="color: rgb(26, 26, 27);">
                <span>67.9k</span>
              </div>
              <button type="button" name = 'downvote-{{post.id}}' class="w3-button w3-padding-small">
                <i style="color: blue;" class="fa fa-arrow-down"></i>
              </button>
            </div>
            <div class="w3-col m10">
              <img src="./../../{{user.avatar}}" alt="Avatar" class="w3-left w3-circle  w3-margin-right w3-margin-left" style="width:60px"> 
              <span class="w3-right w3-opacity w3-padding">1 min</span>
              <h4><a href="#" style="text-decoration: none;">{{user.name}}</a></h4><br>
            </div>

            <div class="w3-container">
              <hr class="w3-clear">
              <h2>Title:{{post.title}}</h2>
              <h4>Content:{{post.content}}</h4>
              <form action="/" method="post"></form>
              {% csrf_token %}
              <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half">
                  <img src="../../../api/files/post/0ab268c8a5918132e1bccb7291a7c351.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="../../../api/files/post/0ab268c8a5918132e1bccb7291a7c351_AQNBmtk.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
                </div>
              </div>
              
              <div class="flex-grow-1">
                  <div class="form-floating mb-3">
                      <textarea class="form-control w-100" placeholder="Leave a comment here" id="my-comment" style="height:7rem;"></textarea>
                  </div>
                  <div class="hstack justify-content-end gap-2">
                      <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-right"><i class="fa fa-comment"></i>  Comment</button> 
                  </div>
              </div>

              <div class="bg-white rounded-3 shadow-sm p-4">
    
                <!-- Comment //-->
                {% for comment in comment_list %}
                {% if comment.post_id == post %}
                <div class="py-3">
                    <div class="d-flex comment">
                        <img class="w3-left w3-circle w3-margin-right"
                            src="./../../{{comment.user_id.avatar}}" style="width:60px" />
                        <div class="flex-grow-1 ms-3">
                            <div class="mb-1">
                                <a href="#" style="text-decoration: none;" class="fw-bold link-dark me-1">{{comment.user_id.name}}</a> 
                                <span class="text-muted text-nowrap">2 days ago</span>
                            </div>
                            <p>{{comment.content}}</p>                    
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <h5 class="text-dark">Link:<a href = "/{{post.id}}" > post number {{post.id}}</a></h5>
                <hr> 
              </div>
            </div>
        {% endif %}
        {%endfor%}
        
        
      <!-- End Middle Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
  <!-- End Page Container -->
  </div>
</div>

{% endblock content %}