{% extends 'app/base.html' %}
{% block title %}{{post.title}}{% endblock title %}
{% load static %}
{% block content %}
{% load mathfilters %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/viewPost.css' %}">
<link rel="stylesheet" href="{% static 'css/follow.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/comment.css' %}">

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    
    <!-- Middle Column -->
    <div class="w3-container">
      
      <div class="w3-card w3-white w3-round w3-margin" style="border-left: 7px solid #396afc"><br>
          <div class="w3-col m1 w3-center w3-padding-bottom w3-margin-left w3-hide-small">
            <form action="/vote/" method="post">
              {% csrf_token %}
                <button name='upvote-{{post.id}}' class="w3-button w3-padding-small" type="submit" id="upvote">
                  <i style="color: rgb(241, 88, 88);" class="fa fa-arrow-up"></i>
                </button>
                <div style="color: rgb(26, 26, 27);">
                  <span>
                    {% for key,value in votes.items %}
                    {% if key == post%}
                    {{value|length}}
                    {% endif %}
                    {% endfor %}
                  </span>
                </div>
                <button type="submit" name='downvote-{{post.id}}' class="w3-button w3-padding-small" id="downvote">
                  <i style="color: rgb(115, 115, 223);" class="fa fa-arrow-down"></i>
                </button>
            </form>
          </div>
          <div class="w3-col m10">
            <span class="w3-right w3-opacity w3-padding"> 
              {% include 'app/components/time.html' %}
            </span>
            <img src="{{post.user_id.avatar.url}}" alt="Avatar" class="w3-left w3-circle  w3-margin-right" style="width:60px"> 
            <h6>Posted by: <a href="user/{{post.user_id.id}}" style="text-decoration: none;">{{post.user_id.user}}</a></h6>
          </div>

          <div class="w3-container">
            <hr class="w3-clear">
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
            <a href="{{post.link}}" target="_blank" style="color: rgb(57, 138, 224);">
              {% if post.link %}
              {{post.link}}
              {% else %}
              {% endif %}
            </a>
            <form action="/" method="post"></form>
            {% csrf_token %}
            <div class="w3-row-padding" style="margin:0 -16px">
              {% if post.pic  %}
                <img src="{{post.pic.url}}" style="width:100%" alt="Post Images" class="w3-margin-bottom">
              {% endif %}
            </div>
            <hr>
            <div class="flex-grow-1">
              <!-- Comment //-->
              <form  method="post">
                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                  <img class="img-fluid img-responsive rounded-circle mr-2" src="{{profile.avatar.url}}" width="38">
                  {{ comment_form.content }}   
                  {% csrf_token %}               
                  <button type="submit" class="btn btn-primary w3-margin-left" type="button">Comment</button>
                </div>
              </form>
              <div class="commented-section">
                <ul id="commenters" style="list-style-type: none;">
                  {% for c in comments %}

                  <li id="{{c.id}}" class="c" style="margin-left:{{c.depth}}em;">
                    <img class="w3-left w3-circle w3-margin-right" src="{{c.user_id.avatar.url}}" style="width:40px" />
                    <div class="d-flex flex-row align-items-center commented-user">
                      <a href="#" style="text-decoration: none;" class="mr-2"><b>{{c.user_id.user}}</b></a>                  
                      <span class="dot mb-1"></span><span class="mb-1 ml-2">4 hours ago</span>
                    </div>
                    <div class="comment-text-sm w3-padding">
                      <span>{{c.content}}</span>
                    </div>
                    <div class="reply-section">
                        <div class="d-flex flex-row align-items-center voting-icons">
                          <a data-toggle="collapse" href="#multiCollapseExample{{c.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{replay.id}}">
                            <h6 class="ml-2 mt-1" style="color: #396afc;">Reply</h6>

                          </a>
                        </div>
                        <div class="collapse multi-collapse" id="multiCollapseExample{{c.id}}">
                          <form  method="post">
                            <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                              {{ comment_form.content }}   
                              {% csrf_token %}      
                              <!-- Hidden input for parent comment.id -->
                              <input type="hidden" name="parent_id" value="{{ c.id }}">      
                              <button type="submit" class="btn btn-primary w3-margin-left" type="button">Reply</button>
                            </div>
                          </form>
                        </div>
                    </div>
                  </li>
                  <hr>
                  {% empty %}
                  <p>There are currently no comments. You can be first!</p>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>  
      </div>
    <!-- End Middle Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>

{% endblock content %}