{% extends 'app/base.html' %}
{% block title %}{{user.nickname}}{% endblock title %}
{% block content %}

<h3>
    {{profile.user}}
</h3>
    <img src = "../../../{{profile.avatar}}" alt="avatar" width='240px' height='240px'>
    {% comment %} <form action="/{user.id}" method="post">
        <button type="submit" name = 'follow-{{user.id}}'>follow</button>
    </form> {% endcomment %}

    <h3>
        {{profile.birthday}}
    </h3>
    <h4>following list:</h4>
    {% for f in follower_list %}
    <p><a href="/user/{{f.id}}" target="_blank">{{f.user}}</a></p>
    
    {% endfor %}
    
    <h4>follower list:</h4>
    {% for f in following_list %}
        <p><a href="/user/{{f.id}}" target="_blank">{{f.user}}</a></p>
    {% endfor %}
    <hr>
    {% for post in post_list %}
        {% if post.user_id == profile.user %}
        <h1>
            {{post.title}}
        </h1>
        <h3>
            {{post.content}}
        </h3>
        <hr>
        {% for comment in comment_list %}
            {% if comment.post_id == post %}
                <p>{{comment.user_id}}: {{comment.content}}</p>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endfor %}
        
{% endblock content %}