{% extends 'app/base.html' %}
{% block title %}Profile Page{% endblock title %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="../../static/css/profile.css">

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white" style="border-left: 7px solid #396afc">
          <div class="w3-container">
            <h4 class="w3-center">My Profile</h4>
            <p class="w3-center"><img src="{{profile.avatar.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
            <h1 class="w3-center">{{profile.user}} <a href="{{profile.id}}/profile"><i class="fa fa-pencil w3-xlarge" aria-hidden="true"></i></a></h1>
            
            <hr>
            
            <div class="mb-5">
              <div class="w3-half w3-center">
                <form action="./{{profile.id}}" method="post">
                  {% csrf_token %}
                  {% include 'app/components/follow.html' %}
                </form><br>
          
              </div>
              <div class="w3-half w3-center">
                <form action="{{profile.id}}/chat_redirect/" method="post">
                  {% csrf_token %}
                  {% include 'app/components/viewUserChat.html' %}
                </form><br>
      
              </div>
            </div>
            <div class="profile__stats w3-center">
              <div class="stat">
                <p class="stat__number">{{following_list|length}}</p>
                <a href="{{profile.user.id}}/follower" class="stat__name">Followers</a>
              </div>
              <div class="stat">
                <p class="stat__number">{{follower_list|length}}</p>
                <a href="{{profile.user.id}}/following" class="stat__name">Followings</a>
              </div>
            </div>
          </div>
        </div>
        <br>
      
      <!-- End Left Column -->
      </div>
      
      <!-- Middle Column -->
      <div class="w3-col m7">
        {%for post in post_list  %}
          {% if post.user_id == profile %}
          <div class="w3-card w3-white w3-round" style="border-left: 7px solid #396afc;margin: 0 10px 10px 10px;"><br>
            <form action="/vote/" method="post">
              {% csrf_token %}           
              <div class="w3-col m1 w3-center w3-padding-bottom w3-margin-left w3-hide-small" >
                <button  name = 'upvote-{{post.id}}' class="w3-button w3-padding-small" type="submit" id="upvote">
                  <i style="color: rgb(241, 88, 88);" class="fa fa-arrow-up"></i>
                </button>         
                <div style="color: rgb(26, 26, 27);">
                  <span>
                    {% for key,value in votes.items %}
                      {% if key == post%}
                          {{value|length}}
                      {% endif %}
                    {% endfor %}
                  </span>
                </div>
                <button type="submit" name = 'downvote-{{post.id}}' class="w3-button w3-padding-small" id="downvote">
                  <i style="color: rgb(115, 115, 223);" class="fa fa-arrow-down"></i>
                </button>
              </div>
            </form>

            <div class="w3-col m10 w3-block">
              <a href="#" style="text-decoration: none;">
                <img src="{{post.user_id.avatar.url}}" alt="Avatar"
                  class="w3-left w3-circle w3-margin-right w3-margin-left" style="width:60px">
              </a>
    
              {% if post.user_id == current_user_profile %}
                <div class="w3-dropdown-hover w3-right">
                  <button class="nav-link w3-button " type="submit" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </button>             
                  <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:100px">
                    <a href="#" class="w3-bar-item w3-button" style="text-decoration: none;color: blue;">Edit this Post</a>
                    <a href="#" class="w3-bar-item w3-button" style="text-decoration: none;color: red;">Delete this Post</a>
                  </div>
                </div> 
              {% endif %}     
    
              <span class="w3-right w3-margin-right w3-padding w3-hide-small">{% include 'app/components/time.html' %}</span>
              <p><h5><a href="#" style="text-decoration: none;">{{post.user_id.user}}</a></h5></p>
            </div>


            <a href="/{{post.id}}" style="text-decoration: none">
              <div class="w3-container">
                <hr class="w3-clear">

                <h3><b>{{post.title}}</b></h3>
                <p style="height: 5em;overflow: hidden;border-bottom: 1px solid rgb(189, 185, 185);">{{post.content}}</p>
                <a href="{{post.link}}" target="_blank" style="color: rgb(57, 138, 224);">
                  {% if post.link %}
                  {{post.link}}
                  {% else %}
                  {% endif %}
                </a>
                <form action="/" method="post"></form>
                {% csrf_token %}
                <div class="w3-row-padding" style="margin:0 -16px">
                    {% if post.pic  %}
                      <img src="{{post.pic.url}}" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
                    {% endif %}
                </div>
                <div class="flex-grow-1">
                  <div class="hstack justify-content-end gap-2">
                    <a href="/{{post.id}}" style="text-decoration: none">
                      <button type="button" class="w3-button w3-margin-bottom w3-right"><i class="fa fa-comment"></i>
                         Comment</button></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endif %}
          {% empty %}
          <div class="w3-center w3-white w3-round-xlarge w3-padding w3-margin">
            <h1>This user haven't post anything</h1>
          </div>
        {%endfor%}
        
      <!-- End Middle Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
  <!-- End Page Container -->
</div>

{% endblock content %}