@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* GENERAL STYLES */
body {
  background: #005c97;
  background: linear-gradient(to right, #363795, #005c97);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* LOGIN FORM STYLES */
.login-box {
  background-color: #fff;
  padding: 20px;
  min-width:900px;
  border-radius: 7px;
  border-left: 7px solid #396afc;
}

.login-box button[type="submit"] {
  display: block;
  width: 18%;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  background: #396afc;
  background: linear-gradient(to right, #2948ff, #396afc);
  margin-top: 30px;
}