{% for key,value in message_time_dict.items  %} 
    {% if room == key %}
        
        {% if value.get_days >= 7 %}
        {{value.get_weeks}} weeks ago
        {% elif value.get_days >= 1 %}
        {{value.get_days}} days ago
        {% elif value.get_hours >= 1 %}
        {{value.get_hours}} hours ago

        {% elif value.get_seconds >= 60 %}
        {{value.get_minutes}} minutes ago
        {%else %}
        {{value.get_seconds}} seconds ago
        {% endif %}

    {% endif %}
{% endfor %}
{% comment %} {% if latest_message %}
    {% if latest_message.get_days >= 7 %}
    {{latest_message.get_weeks}} weeks ago
    {% elif latest_message.get_days >= 1 %}
    {{latest_message.get_days}} days ago
    {% elif latest_message.get_hours >= 1 %}
    {{latest_message.get_hours}} hours ago

    {% elif latest_message.get_seconds >= 60 %}
    {{latest_message.get_minutes}} minutes ago
    {%else %}
    {{latest_message.get_seconds}} seconds ago
    {% endif %}

{% endif %} {% endcomment %}