{% for notification in notifications %}
							<div class="list-group-item d-flex align-items-center" style="position: static;">
								<div class="flex-fill pl-3 pr-3">
									
									{% if notification.post is not None %}
										{% if notification.notification_type == 1 %}
										<div>
											<a href="">@{{ notification.from_user }} upvoted your post</a>
										</div>
										{% elif notification.notification_type == 2 %}
										<div>
											<a href="">@{{ notification.from_user }} commented on your post</a>
										</div>
										{% elif notification.notification_type == 4 %}
										<div>
											<a href="">@{{ notification.from_user }} downvoted your post</a>
										</div>
						
										{% elif notification.notification_type == 5 %}
										<div>
											<a href="">@{{ notification.from_user }} has posted a new post</a>
										</div>
										{% endif %}
									{% elif notification.comment is not None %}
										{% if notification.notification_type == 2 %}
										<div>
											<a href="">@{{ notification.from_user }} commented on your post</a>
										</div>
										{% endif %}
									{% else %}
										<div>
											<a href="">@{{ notification.from_user }} has started following you</a>
										</div>
									{% endif %}
									
								</div>							
							</div>
							{% endfor %}